*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  
}
html{

    background:linear-gradient(to right,#9AA4B5,#B2837A);
    width: 100%;
    height: auto;
    

}

.container{
margin: 3em;
border-radius: 1em;
    height: 100vh;
    background:linear-gradient(to right,#9BBFE1,#EBB797);
    text-align: center;
}
input::placeholder{
    text-align: center;
}

.city{
    margin-top: 1em;
    color: #9FA2AA;
    font-size: 32px;
    font-weight: 500;
}

.Today {
    color: #F3F4F5;
}
.date {
    color: #737682;
    font-size: 16px;
}
 .current .temp{
    color: #FBFBFB;
    font-size: 70px;
    font-weight: 900;
    margin-top: .5em;
}
.current .weather{
    color: #FBFBFB;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
}
.current .hi-low{
    color: #FBFBFB;
    font-size: 24px;
    font-weight: 500;
}
.details{
    
   
  padding-top: 1em;

 
    text-align: center;
 border-radius: 1em;
}
.search{
 margin: 3em;
 border-radius: 1em;
  height: 40px;
align-items: center;
    border: none;
    background-color: #FBFBFB;
} 
@media screen and (min-width:360px){
.container{
    padding-top: 3em; 
} 
}

@media screen and (min-width:600px){


.container{
    margin: 5em;

}

.search{

 border-radius: 1em;
  height: 40px;
align-items: center;
    border: none;
    background-color: #FBFBFB;
} 
}


@media screen and (min-width:800px){


    .container{
        margin: 10em;
    
    }
    
    .search{
    
     border-radius: 1em;
      height: 40px;
    align-items: center;
        border: none;
        background-color: #FBFBFB;
    } 
    }

    @media screen and (min-width:1000px){


        .container{
            margin: 15em;
        
        }
        
        .search{
        
         border-radius: 1em;
          height: 40px;
        align-items: center;
            border: none;
            background-color: #FBFBFB;
        } 
        }